/*
 * This CSS file contains styles for the card component, which includes both the front and back sides of the card.
 * The card is designed to display information about a user's listening history fetched from the Spotify API.
 * It includes header, front card content, and back card content.
 *
 * Sections:
 * 1. Import Global Styles: Imports global CSS styles from 'global.css'.
 * 2. Header Styles: Styles for h1 and h2 elements used in the header section.
 * 3. Card Container Styles: Styles for the main card container.
 * 4. Card Background Styles: Styles for the background of both front and back sides of the card.
 * 5. Front Card Content Styles: Styles for the front side of the card.
 * 6. Back Card Content Styles: Styles for the back side of the card.
 */


/* === Import Files === */
@import './global.css';

/* === Card Container Styles === */
  .card-container {
    width: 530px;
    height: 460px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* === Card Background Styles === */
  #user .card-background-front, .card-background-back {
    height: 250px;
    width: 400px;
    border-radius: 10px;
    margin: auto;
    cursor: pointer;
  }
  #user .card-background-front{
    display: block;
    background-color: #CEDCD9;
    border: 0;
    /* top: 100px; */
    left: -20px;
    position: relative;
    transform: rotate(-10deg);
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }



  .front-animation{
    /* z-index: 20; */
    animation: hovertease ease 1s forwards;
  }
 .back-animation{
    /* z-index: 20; */
    animation: hoverslide ease 1s forwards;
  }

  @keyframes hovertease {
    50%{
      transform: translateY(-30px);
      /* transform: rotate(-10deg); */
    }
    100%{
      transform: translateY(0px);
      transform: rotate(-10deg);

      /* z-index: 20; */
    }
  }

  @keyframes hoverslide {
    50%{

  
    transform: translateY(-30px);
    transform: rotate(5deg);
  }
  100%{
    transform: translateY(0px);
    z-index: 20;

  }

    
  }
  #user .card-background-back{
    /* z-index: -1; */
    display: block; /* remove to reshow back card */
    background-color: #CEDCD9;
    border: 0px;
    top: 110px;
    left: 110px;
    position: absolute;
    border-color: black;
    border-style: solid;
    border-width: 1px;
  }

/* === Front of Card Content === */
  .card-front-shape1{
    width: inherit;
    height: 50px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    
    background-color: #537D8D;
    position: absolute;
  }

  .card-content-front{
    min-height: 250px;
    max-height: 250px;
    display: grid;
    grid-template-columns: 150px repeat(2, 1fr);
    grid-template-rows: 50px repeat(3, 1fr);
    grid-template-areas: 
    "title title subtitle"
    "pic text1 text2"
    "pic text3 text4"
    "pic text5 text6";
  }
  .card-title {
    padding-left: 45px;
    grid-area: title;
    align-self: center;
    justify-self: start;
  }
  .card-subtitle{
    grid-area: subtitle;
    align-self: center;
    justify-self: end;
    padding-right: 45px;
  }
  .profile-pic { 
    grid-area: pic;
    align-self: center;
    justify-self: center;
    padding-bottom: 20px;
  }
  .fc-txt1{grid-area: text1; align-self: center;}
  .fc-txt2{grid-area: text2; align-self: center;}
  .fc-txt3{grid-area: text3; align-self: center;} 
  .fc-txt4{grid-area: text4; align-self: center;}
  .fc-txt5{grid-area: text5; align-self: center;}
  .fc-txt6{grid-area: text6; align-self: center;}

/* === Front of Card Text Styles === */
  .fc-subheading, .fc-para{
    min-width: 0;
    text-align: left;
    padding: 0;
    margin: 0;
    display: block;
    color: #112A46;
  }
  .fc-subheading{
    font-family: 'Bebas Neue', Arial, sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    letter-spacing: 0px;
    line-height: 1;
    font-weight: 900;
    place-self: center;
  }
  .fc-para{
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 14px;
    line-height: 1;
    font-weight: 100;
    letter-spacing: -1px;
  }

/* === Back of Card Content === */
  .card-back-shape1{
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: inherit;
    height: 70px;
    top: 0px;
    background-color: #1F374A;
    position: relative;
  }
  .card-back-shape2{
    width: inherit;
    height: 40px;
    top: -50px;
    background-color: black;
    position: relative;
  }
  .card-content-back{
    z-index: 50;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 70px .5fr 1fr 1fr;
    grid-template-areas:
    ". . ."
    "title title pic"
    "text1 text2 pic"
    "text3 text3 subtext";
  }
  .back-card-title{
    grid-area: title;
  }
  .back-card-track-img{
    grid-area: pic;
  }
  .back-card-track-text{
    grid-area: subtext;
    line-height: .5;
  }
  .bc-txt1{grid-area: text1; align-self: center;}
  .bc-txt2{grid-area: text2; align-self: center;}
  .bc-txt3{grid-area: text3; align-self: center;}
  .bc-txt4{grid-area: text4; align-self: center;}

/* === Back of Card Text Styles === */
    .bc-subheading, .bc-para{
      min-width: 0;
      text-align: left;
      padding: 0;
      padding-left: 18px;
      margin: 0;
      display: block;
      color: #112A46;
      place-self: center;
    }
    .bc-subheading{
      font-family: 'Bebas Neue', Arial, sans-serif;
      font-size: 20px;
      text-transform: capitalize;
      letter-spacing: 0px;
      line-height: 1.5;
      font-weight: 900;
      place-self: center;
    }
    .bc-para{
      font-family: Arial, Helvetica, sans-serif;
      text-transform: capitalize;
      font-size: 14px;
      line-height: 1;
      font-weight: 100;
      letter-spacing: -1px;
    }




#svg-buttons:hover{
  cursor: pointer;
  fill: #537D8D;

}

/* svg:hover{
  cursor: pointer;
} */
    .cog{
      position: absolute;
      left: 510px;
      top: -30px;
      z-index: 500;
      fill: #112A46;
      width: 50px;
    }

    /* .cog:hover{
      fill: #537D8D;
    } */

    .shape{
      position: absolute;
      left: 275px;
      top: 370px;
      z-index: 500;
      fill: #112A46;
      width: 50px;
    }

    .color{
      position: absolute;
      left: 350px;
  
      top: 370px;
      z-index: 500;
      fill: #112A46;
      width: 50px;
    }

    .date{
      position: absolute;
      left: 200px;
      top: 370px;
      z-index: 500;
      fill: #112A46;
      width: 50px;
    }