<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/card.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <title>Cardify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-container">
        <nav id="nav">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="contact.html">Contact</a></li>
                <!-- <li><a href="about.asp">About</a></li> -->
            </ul>
        </nav>

        <!-- this is the content container -->
        <div class="card-container" id="user">
            

            <!-- this is the FRONT card container -->
            <div class="card-background-front"> 
                <div class="corner-shape-topLeft star" style="padding-top: 8px;"></div>
                <div class="corner-shape-topRight star" style="padding-top: 8px;"></div>
                <div class="corner-shape-bottomLeft star"></div>
                <div class="corner-shape-bottomRight star"></div>
                <div class="card-front-shape1" style="z-index: -1;"></div>

                <div><img src="../static/images/spotify-logo.png" alt="spotify logo" 
                    style="z-index: -2; width: 40%; position: absolute; 
                    top: 60px; padding-left: 100px; left: 0; bottom: 0; right: 0;
                    display: block; margin-left: auto; margin-right: auto;
                    filter: grayscale(100%);
                    /* left: 100px; top: 35px; */
                    opacity: .25;"></div>
                <!-- <div><img src="../static/images/thumbprint.png" alt="thumbprint" 
                    style="z-index: 0; width: 25%; position: absolute; 
                    left: 295px; top: 5px;
                    opacity: .45; transform: rotate(-6deg);"></div> -->


                <!-- start of front card content -->
                <div class="card-content-front"> 
                    <div class="card-title" > 
                        <h2 style="font-size: 30px;"> Cardify</h2>
                    </div>
                    <div class="card-subtitle">
                        <h2 style="font-size: 15px; margin: 0; text-align: right;">003</h2>
                        <h2 style="font-size: 10px; margin: 0; text-align: right;">ID Card</h2>
                    </div>
                    <div class="profile-pic">
                        <br><img src="../static/images/cat.jpg" alt="user profile picture" style="height: 120px; width: 120px;
                        border-width: 5px; border-style: solid; border-color: antiquewhite; border-radius: 5px;">
                        <br><span style="font-family: 'Barcode-Regular', Arial, sans-serif; font-size: 28px; color: #112A46;">012345</span>
                    </div>
                    <div class="fc-txt1" style="align-self: end;">
                        <span class="fc-subheading">name</span>
                        <span class="fc-para">kamimi</span>
                    </div>
                    <div class="fc-txt2" style="align-self: end;">
                        <span class="fc-subheading">num id</span>
                        <span class="fc-para">0123456789</span>
                    </div>
                    <div class="fc-txt3">
                        <span class="fc-subheading">playlists</span>
                        <span class="fc-para">839 saved</span>
                    </div>
                    <div class="fc-txt4">
                        <span class="fc-subheading">issue</span>
                        <span class="fc-para">05 Aug 2023</span>
                    </div>
                    <div class="fc-txt5" style="align-self: start;">
                        <span class="fc-subheading">tracks</span>
                        <span class="fc-para">4728 liked</span>
                    </div>
                    <div class="fc-txt6" style="align-self: start;">
                        <span class="fc-subheading">expiry</span>
                        <span class="fc-para">05 Aug 2024</span>
                    </div>

                </div>
            </div>



            <!-- this is the BACK card container -->
            <div class="card-background-back">
                <div class="corner-shape-topLeft light-star" style="top: 85px; left: 0; padding-left: 18px;"></div>
                <div class="corner-shape-topLeft light-star" style="left: 0; top: 85px; padding-left: 48px;"></div>
                <div class="corner-shape-topLeft light-star" style="left: 0; top: 85px; padding-left: 78px;" ></div>

                <!-- <div class="corner-shape-bottomLeft light-star" style="left: 100px;"></div> -->
                <!-- <div class="corner-shape-bottomLeft light-star" style="left: 130px;"></div> -->
                <!-- <div class="corner-shape-bottomRight light-star"></div> -->
                <div class="card-back-shape1" ></div>
                <div class="card-back-shape2" ></div>

            

                <div class="card-content-back" style="z-index: 2;">
                    <div class="back-card-title" style="align-self: end; justify-self: right;"> 
                        <h2 style="color: #537D8D; font-weight: 800; font-family: 'Bebas Neue', Arial, sans-serif; margin: 0; font-size: 30px; letter-spacing: 3px; position: relative; top: 5px; display: block;">lifetime</h2>
                    </div>

            

                    <div class="bc-txt1" >
                        <span class="bc-subheading">top genres</span>
                        <span class="bc-para">indie lo-fi, midwest emo, moody</span>
                    </div>
                    <div class="bc-txt2">
                        <span class="bc-subheading">mood</span>
                        <span class="bc-para">56% of your songs are sad</span>
                    </div>
                    <div class="bc-txt3" style="align-self: start;">
                        <span class="bc-subheading">fav artists</span>
                        <span class="bc-para">flatsound, slow pulp, tomorrow x together, phoebe bridgers, beabadoobee</span>
                    </div>
                    <!-- <div class="bc-txt4" style="align-self: start;">
                        <span class="bc-subheading">albums</span>
                        <span class="bc-para"></span>
                    </div> -->

                    <div class="back-card-track-img" style="place-self: center;">
                        <img src="../static/images/flatsound-ex.jpg" alt="album artwork" 
                    style="z-index: 2; max-width: 100px; position: relative; top: 10px;
                    border-width: 5px; border-style: solid; border-color: #537D8D; border-radius: 5px;">
                    </div>

                    <div class="back-card-track-text" 
                    style="align-self: center; justify-self: center; z-index: 3; text-align: right;">
                        <h3 style="line-height: 1.2; margin: 0; color: #112A46; letter-spacing: 0px; font-family: 'Bebas Neue', Arial, sans-serif; font-size: 20px;">Top Track</h3>
                        <span style="font-size: 12px; line-height: 1; letter-spacing: -.5px;">Chamomile
                        - <i>Flatsound</i>
                        
                        </span>
                    </div>
                </div>
            </div>

        <!-- this is the end of the main container -->
        </div>
        
        <footer id="footer">
            <span>&copy; 2023 Kahmeeah Obey. All rights reserved. 
                <br><a href="about.html">About</a> |
                <!-- <a href="about.html">About</a> |
                <a href="mailto:yourname@example.com">Contact</a> | -->
                <a href="https://github.com/yourusername">GitHub</a> |
                <a href="privacy.html">Privacy Policy</a>
            </span>
        </footer>
    </div>
</body>
</html>