<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/card.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <title>Cardify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    
    <div class="main-container">
        <nav id="nav">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <!-- <li><a href="about.asp">About</a></li> -->
            </ul>
        </nav>

        <!-- this is the content container -->
        <div class="card-container" id="user">
            {% include 'card_fragment.html' %}
 
        </div>
        
        <footer id="footer">
            {% include 'footer.html' %}
        </footer>
    </div>
    <script src="../static/js/script.js"></script>
</body>
</html>