<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/card.css">
    <link rel="stylesheet" href="../static/css/global.css">
    <title>Cardify | Contact</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="main-container">
        <nav id="nav">
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <!-- <li><a href="about.asp">About</a></li> -->
            </ul>
        </nav>
        
        <!-- this is the content container -->
        <div class="card-container" id="global">
            <div class="card-background-front" id="global"> 
                <div class="corner-shape-topLeft star" style="padding-top: 8px; z-index: 2;"></div>
                <div class="corner-shape-topRight star" style="padding-top: 8px; z-index: 2;"></div>
                <div class="corner-shape-bottomLeft star"></div>
                <div class="corner-shape-bottomRight star"></div>
                <div class="card-front-shape1" style="z-index: 1;"></div>


                <!-- start of front card content -->
                <div class="card-content-front"> 
                    <div class="card-title" > 
                        <h2 style="font-size: 30px;"> Cardify</h2>
                    </div>
                    <div class="card-subtitle">
                        <h2 style="font-size: 15px; margin: 0; text-align: right;">003</h2>
                        <h2 style="font-size: 10px; margin: 0; text-align: right;">ID Card</h2>
                    </div>
                    <div class="card-paragraph">
                        <h1 style="margin-bottom: 10px;">Contact Me</h1>
                        <p id="inline" style="margin-bottom: 10px;">Before reaching out, make sure you have read the <a href="{{ url_for('faq') }}">FAQ</a> page.
                            For any other feedback or inquires, you may contact me by email at <a href="mailto:kao8144@nyu.edu">kao8144@nyu.edu</a>.</p>
                        <p id="inline" style="margin-bottom: 10px;">Additionally, you may view my others projects on my
                            <a href="" target="_blank">Github</a> or <a href="" target="_blank">Website</a>.</p>
                        <p id="inline" style="margin-bottom: 10px;"> If you like Cardify, consider buying me a coffee on
                            <a href="https://ko-fi.com/your-ko-fi-username" target="_blank">Ko-fi</a>.</p>
                    </div>

                </div>
            </div>
        </div>
        <!-- this is the end of the main container -->
        <footer id="footer">
            {% include 'footer.html' %}
        </footer>
    </div>
</body>
</html>